<main id="home">
    <div class="container">
        <h1 class="deep-orange-text text-accent-2">Explore Data for Pitchers' Goose Eggs</h1>
        <%= link_to 'Pitching Data', controller: 'pitchers', action: 'search' %>
    </div>
</main>