// Place all the styles related to the goose controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main#home {
    height: 600px;
    padding-top: 2.8rem;
    background-image: url('goose-egg.jpg');
}